textarea {
   padding: 10px 10px;
   resize: none;
}

.emailSection {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.emailField {
	margin-left: 4px;
}

.submitButton {
	margin-top: 1%;
	width: 75px;
	height: 30px;
}